<template>
  <div>
    <figure class="text-center">
      <blockquote class="blockquot">
        <h1 class="navbar-brand">Reservacion Hotelera</h1>
      </blockquote>
    </figure>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">HABITACION</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="/public/index.html">Usuario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/public/index2.html">Habitacion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/public/index3.html">Reservacion</a>
      </li>
    </ul>
    <div class="container">
      <div class="row pt-5">
        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <form @submit.prevent="sendHabitacion">
                <div class="form-group">
                  <span class="input-group-text ">TITULO</span>
                  <input  type="text" 
                   v-model="habitacion.titulo"
                   class="form-control"/>
                </div>
                <div class="form-group">
                  <span class="input-group-text">SUBTITULO</span>
                  <input  type="text"
                   v-model="habitacion.subtitulo"
                   class="form-control"/>
                </div>
                <div class="form-group">
                  <span class="input-group-text">DETALLE</span>
                  <input  type="text" 
                   v-model="habitacion.detalle"
                  class="form-control"/>
                </div>
                <div class="form-group">
                  <span class="input-group-text">TARIFA</span>
                  <input  type="text"
                   v-model="habitacion.tarifa"
                   class="form-control"/>
                </div>
               
                <div class="d-grid gap-2">
                  <template v-if="edit === false">
                    <button class="btn btn-primary btn-block">Guardar</button>
                  </template>
                  <template v-else>
                    <button class="btn btn-primary btn-block">
                      Actualizar
                    </button>
                  </template>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <table class="table table-bordered border-primary">
            <thead>
              <tr>
                <th>TITULO</th>
                <th>SUBTITULO</th>
                <th>DETALLE</th>
                <th>TARIFA</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="habitacion of habitaciones">
                <td>{{ habitacion.titulo}}</td>
                <td>{{ habitacion.subtitulo }}</td>
                <td>{{ habitacion.detalle }}</td>
                <td>{{ habitacion.tarifa }}</td>
                <td>
                  <button
                    @click="deleteHabitacion(habitacion._id)"
                    class="btn btn-danger "
                  >
                    DELETE
                  </button>
                  <button
                    @click="updateHabitacion(habitacion._id)"
                    class="btn btn-info"
                  >
                    UPDATE
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
class Habitacion {
  constructor(titulo, subtitulo, detalle, tarifa) {
    this.titulo = titulo;
    this.subtitulo = subtitulo;
    this.detalle = detalle;
    this.tarifa = tarifa;
  }
}
export default {
  data() {
    return {
      habitacion: new Habitacion(),
      habitaciones: [],
      edit : false ,
      habitacionEdit:''
    }
  },
  created() {
    this.getHabitacion();
  },
  methods: {
   sendHabitacion() {
     if(this.edit === false){
            fetch("/v1/api/habitacion/", {
            method: "POST",
            body: JSON.stringify(this.habitacion),
            headers: {
              Accept: "application/json",
              "Content-type": "application/json",
            }
            })
            .then((res) => res.json())
            .then((data) =>{
              this.getHabitacion();
            })
     }else{
         fetch("/v1/api/habitacion/" + this.habitacionEdit,{
           method : 'PATCH',
           body: JSON.stringify(this.habitacion),
            headers: {
                'Accept': 'application/json',
                'Content-type': 'application/json'
             }
         })
         .then(res => res.json())
         .then(data => {
           this.getHabitacion()
           this.edit = false;
         })
     }
     this.habitacion = new Habitacion();

    },
    getHabitacion() {
      fetch("/v1/api/habitacion/")
        .then((res) => res.json())
        .then((data) => {
          this.habitaciones = data;
          console.log(this.habitaciones);
        });
    },
    deleteHabitacion(id) {
      fetch('/v1/api/habitacion/' + id, {
        method: 'DELETE',
        headers: {
         'Accept': 'application/json',
         'Content-type': 'application/json'
        },
      })
        .then((res) => res.json())
        .then((data) => {
          this.getHabitacion();
        });
    },
     updateHabitacion(id){
                fetch('/v1/api/habitacion/' + id) 
                .then(res => res.json())
                //.then(data => console.log(data))
                .then(data => {
                   this.habitacion = new Habitacion(data.titulo, data.subtitulo, data.detalle, data.tarifa);
                    this.habitacionEdit = data._id;
                    this.edit = true;
                    
                }); 
                
     }           
  }
}
</script>