<template>
  <div>
    <figure class="text-center">
      <blockquote class="blockquot">
        <h1 class="navbar-brand">Reservacion Hotelera</h1>
      </blockquote>
    </figure>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">RESERVACION</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/public/index.html">Usuario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/public/index2.html">Habitacion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/public/index3.html">Reservacion</a>
      </li>
    </ul>
    <div class="container">
      <div class="row pt-5">
        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <form @submit.prevent="sendReservacion">
                <div class="form-group">
                  <span class="input-group-text">USUARIO</span>
                  <input
                    type="text"
                    v-model="reservacion.usuario"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <span class="input-group-text">HABITACION</span>
                  <input
                    type="text"
                    v-model="reservacion.habitacion"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <span class="input-group-text">FECHA</span>
                  <input
                    type="text"
                    v-model="reservacion.fecha"
                    class="form-control"
                  />
                </div>

                <div class="d-grid gap-2">
                  <template v-if="edit === false">
                    <button class="btn btn-primary btn-block">Guardar</button>
                  </template>
                  <template v-else>
                    <button class="btn btn-primary btn-block">
                      Actualizar
                    </button>
                  </template>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <table class="table table-bordered border-primary">
            <thead>
              <tr>
                <th>USUARIO</th>
                <th>HABITACION</th>
                <th>FECHA</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="reservacion of reservas">
                <td>{{ reservacion.usuario }}</td>
                <td>{{ reservacion.habitacion }}</td>
                <td>{{ reservacion.fecha }}</td>
                <td>
                  <button
                    @click="deleteReserva(reservacion._id)"
                    class="btn btn-danger"
                  >
                    DELETE
                  </button>
                  <button
                    @click="updateReserva(reservacion._id)"
                    class="btn btn-info"
                  >
                    UPDATE
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
class Reserva {
  constructor(usuario, habitacion, fecha) {
    this.usuario = usuario;
    this.habitacion = habitacion;
    this.fecha = fecha;
  }
}
export default {
  data() {
    return {
      reservacion: new Reserva(),
      reservas: [],
      edit : false ,
      reservaEdit:''
    }
  },
  created() {
    this.getReservas();
  },
  methods: {
   sendReservacion() {
     if(this.edit === false){
            fetch("/v1/api/reserva/", {
            method: "POST",
            body: JSON.stringify(this.reservacion),
            headers: {
              Accept: "application/json",
              "Content-type": "application/json",
            }
            })
            .then((res) => res.json())
            .then((data) =>{
              this.getReservas();
            })
     }else{
         fetch("/v1/api/reserva/" + this.reservaEdit,{
           method : 'PATCH',
           body: JSON.stringify(this.reservacion),
            headers: {
                'Accept': 'application/json',
                'Content-type': 'application/json'
             }
         })
         .then(res => res.json())
         .then(data => {
           this.getReservas()
           this.edit = false;
         })
     }
     this.reservacion = new Reserva();

    },
    getReservas() {
      fetch("/v1/api/reserva/")
        .then((res) => res.json())
        .then((data) => {
          this.reservas = data;
          console.log(this.reservas);
        });
    },
    deleteReserva(id) {
      fetch('/v1/api/reserva/' + id, {
        method: 'DELETE',
        headers: {
         'Accept': 'application/json',
         'Content-type': 'application/json'
        },
      })
        .then((res) => res.json())
        .then((data) => {
          this.getReservas();
        });
    },
     updateReserva(id){
                fetch('/v1/api/reserva/' + id) 
                .then(res => res.json())
                //.then(data => console.log(data))
                .then(data => {
                   this.reservacion = new Reserva(data.usuario, data.habitacion, data.fecha);
                    this.reservaEdit = data._id;
                    this.edit = true;
                    
                }); 
                
     }           
  }
}
</script>