<template>
  <div>
    <figure class="text-center">
      <blockquote class="blockquot">
        <h1 class="navbar-brand">Reservacion Hotelera</h1>
      </blockquote>
    </figure>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">USUARIO</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/public/index.html">Usuario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/public/index2.html">Habitacion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/public/index3.html">Reservacion</a>
      </li>
    </ul>
    <div class="container">
      <div class="row pt-5">
        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <form @submit.prevent="sendUsuario">
                <div class="form-group">
                  <span class="input-group-text ">NOMBRES</span>
                  <input  type="text"
                   v-model="usuario.firstname"
                   class="form-control"/>
                </div>
                <div class="form-group">
                  <span class="input-group-text">APELLIDOS</span>
                  <input  type="text" 
                  v-model="usuario.lastname"
                  class="form-control"/>
                </div>
                <div class="form-group">
                  <span class="input-group-text">USUARIO</span>
                  <input  type="text"
                   v-model="usuario.username"
                    class="form-control"/>
                </div>
                <div class="form-group">
                  <span class="input-group-text">PASSWORD</span>
                  <input  type="text" 
                  v-model="usuario.password"
                  class="form-control"/>
                </div>
               
                <div class="d-grid gap-2">
                  <template v-if="edit === false">
                    <button class="btn btn-primary btn-block">Guardar</button>
                  </template>
                  <template v-else>
                    <button class="btn btn-primary btn-block">
                      Actualizar
                    </button>
                  </template>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <table class="table table-bordered border-primary">
            <thead>
              <tr>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>USERNAME</th>
                <th>PASSWORD</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="usuario of usuarios">
                <td>{{ usuario.firstname }}</td>
                <td>{{ usuario.lastname }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.password }}</td>
                <td>
                  <button
                    @click="deleteUsuario(usuario._id)"
                    class="btn btn-danger"
                  >
                    DELETE
                  </button>
                  <button
                    @click="updateUsuario(usuario._id)"
                    class="btn btn-info"
                  >
                    UPDATE
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
class Usuario {
  constructor(firstname, lastname, username, password) {
    this.firstname = firstname;
    this.lastname = lastname;
    this.username = username;
    this.password = password
  }
}
export default {
  data() {
    return {
      usuario: new Usuario(),
      usuarios: [],
      edit : false ,
      usuarioEdit:''
    }
  },
  created() {
    this.getUsuario();
  },
  methods: {
   sendUsuario() {
     if(this.edit === false){
            fetch("/v1/api/user/", {
            method: "POST",
            body: JSON.stringify(this.usuario),
            headers: {
              Accept: "application/json",
              "Content-type": "application/json",
            }
            })
            .then((res) => res.json())
            .then((data) =>{
              this.getUsuario();
            })
     }else{
         fetch("/v1/api/user/" + this.usuarioEdit,{
           method : 'PATCH',
           body: JSON.stringify(this.usuario),
            headers: {
                'Accept': 'application/json',
                'Content-type': 'application/json'
             }
         })
         .then(res => res.json())
         .then(data => {
           this.getUsuario()
           this.edit = false;
         })
     }
     this.usuario = new Usuario();

    },
    getUsuario() {
      fetch("/v1/api/user/")
        .then((res) => res.json())
        .then((data) => {
          this.usuarios = data;
          console.log(this.usuarios);
        });
    },
    deleteUsuario(id) {
      fetch('/v1/api/user/' + id, {
        method: 'DELETE',
        headers: {
         'Accept': 'application/json',
         'Content-type': 'application/json'
        },
      })
        .then((res) => res.json())
        .then((data) => {
          this.getUsuario();
        });
    },
     updateUsuario(id){
                fetch('/v1/api/user/' + id) 
                .then(res => res.json())
                //.then(data => console.log(data))
                .then(data => {
                   this.usuario = new Usuario(data.firstname, data.lastname, data.username, data.password);
                    this.usuarioEdit = data._id;
                    this.edit = true;
                    
                }); 
                
     }           
  }
}
</script>